.prise{
    &__title{
        padding-top: 66px;
        &:before{
            top: 60px;
        }
    }
    .prise__wrapper{
        padding-top: 60px;
        display: grid;
        grid-template: repeat(3, 44px) / repeat(2, 366px);
        justify-content:space-around;
        row-gap: 15px;
        &-item{
            padding-left: 5px;
            position: relative;
            display: grid;
            grid-template: 50% 50% / 154px 110px;
            justify-content: space-between;
            align-content: space-between;
            row-gap: 5px;
            @include before_circle;
            &:before{
                width: 15px;
                height: 15px;
                top: 2px;
                left: -15px;
            }
            &-text{
                grid-column: 1 / 3;
            }
        }
    }
}